{% regroup dates by year as dates_by_year %}
{% load static %}
{% load site2_news_tags %}

<div id="sub">
  <nav class="box1">
  <h2>年別アーカイブ</h2>
  {% for month in dates_by_year %}
    <ul class="submenu">
      <li><a href="{% url 'site2:year' month.grouper %}">{{ month.grouper }}年</a></li>
        <ul>
          {% for d in month.list %}
            <li><a href="{% url 'site2:month' month.grouper d.month %}">{{ d|date:'F' }}</a></li>
          {% endfor %}
        </ul>
    </ul>
  {% endfor %}
  </nav>
  {% render_news_category %}
  
  </div>
  
