{% extends 'base_system.html' %}
{% load static %}

{% block body %}
<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">

            <!-- TABLE STRIPED -->
            <form method="get" action="">
                <input name='get_title' placeholder="タイトルを検索" value="{{ request.GET.get_title }}" type="text">
                    <button class="btn btn-primary" type="submit">検索</button>
            </form>
            <div class="panel">

                <div class="panel-heading" align="center">
                    <h3 class="panel-title">採用情報一覧</h3>
                </div>
                <button style="margin-left:30px" type="button" onclick="location.href='{% url 'system:recruit_add' %}'" class="btn btn-primary">新規作成</button>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>タイトル</th>
                                <th>記事内容</th>
                                <th>公開設定</th>
                                <th>長期/短期</th>
                                <th>編集/削除</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for recruit in paginator_list %}
                            <tr>
                                <td>{{ recruit.id }}</td>
                                <td>{{ recruit.title }}</td>
                                <td>{{ recruit.discription|truncatechars:10 }}</td>
                                {% if recruit.public_status %}
                                    <td>公開</td>
                                {% else %}
                                    <td>非公開</td>
                                {% endif %}
                                {% if recruit.long_short %}
                                    <td>短期募集</td>
                                {% else %}
                                    <td>長期募集</td>
                                {% endif %}
                                <td>
                                    <button type="submit" onclick="location.href='{% url 'system:recruit_edit' recruit.id %}'" class="btn btn-success">編集</button>
                                    <button type="submit" onclick="location.href='{% url 'system:recruit_delete' recruit.id %}'" class="btn btn-danger">削除</button>
								</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                        {% include 'includes/paginator.html' %}

                </div>
            </div>
            <!-- END TABLE STRIPED -->
{% endblock body %}
