{% extends 'base.html' %}
{% load static %}


{% block body %}
	
	
<div id="contents" class="inner">

<div id="main">

<section>

<h2>リンク</h2>
<p>リンクのご案内。</p>

<table class="ta1">
<tr>
<th colspan="2" class="tamidashi">見出しが必要であればここを使います</th>
</tr>
<tr>
<th><a href="#">サイト名</a></th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th><a href="#">サイト名</a></th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th><a href="#">サイト名</a></th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th><a href="#">サイト名</a></th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th><a href="#">サイト名</a></th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th><a href="#">サイト名</a></th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th><a href="#">サイト名</a></th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
<tr>
<th><a href="#">サイト名</a></th>
<td>ここに説明など入れて下さい。サンプルテキスト。</td>
</tr>
</table>

</section>

</div>
{% include 'base_sideber/base_sideber.html' %}
{% endblock body %}

