{% extends 'base.html' %}
{% load static %}


{% block body %}
	
	
<div id="contents" class="inner">

<div id="main">

<section>

<h2>製品紹介</h2>
<p>ボックスにリンクが貼ってあると、ボックス右下に「→」マークが出ます。</p>

<div class="list">
<a href="item.html">
<h4>製品タイトル</h4>
<figure><img src="{% static 'images/sample1.jpg' %}" alt=""></figure>
<table>
<tr>
<th>メーカー</th>
<td>サンプルテキスト。</td>
<th>価格</th>
<td>XXXX円</td>
</tr>
<tr>
<th>見出し</th>
<td>サンプルテキスト。</td>
<th>見出し</th>
<td>サンプルテキスト。</td>
</tr>
</table>
</a>
</div>

<div class="list">
<a href="item.html">
<h4>製品タイトル</h4>
<figure><img src="{% static 'images/sample1.jpg' %}" alt=""></figure>
<table>
<tr>
<th>メーカー</th>
<td>サンプルテキスト。</td>
<th>価格</th>
<td>XXXX円</td>
</tr>
<tr>
<th>見出し</th>
<td>サンプルテキスト。</td>
<th>見出し</th>
<td>サンプルテキスト。</td>
</tr>
</table>
<p>右上の「おすすめ」の文字情報はhtml側で直接変更できます。
<span class="option1">おすすめ</span><br>
<span style="color:red">&lt;span class=&quot;option1&quot;&gt;おすすめ&lt;/span&gt;</span><br>
色はcssフォルダのstyle.cssの設定で変更できます。</p>
<span class="option1">おすすめ</span>
</a>
</div>
</section>

</div>
{% include 'base_sideber/base_sideber.html' %}

{% endblock body %}
